/* PHASE 9: Forms */
.inputs {
  display: flex;
  justify-content: space-between;
}

.inputs li form {
  width: 80%;
}

.form {
  width: 520px;
}

.inner-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
